---
import '@components/StylesBundler.astro'
import Layout from '@layouts/Layout.astro'
import Heading from '@components/nest/example3/Heading.astro'
import Code from '@components/nest/example3/Code.astro'
import Url from '@components/nest/example3/Url.astro'
---

<Layout namespace="nest-example3">
  <title slot="title">Nest | Async Page Transitions</title>

  <Heading />
  <Code />
  <Url />
</Layout>
