---
import SectionLayout from '@components/common/SectionLayout.astro'
---

<SectionLayout title="URL">
  <a href="https://twigl.app/?ol=true&ss=-OOfrp2rtyUYav9udm0t" target="_blank" rel="noopener noreferrer">https://twigl.app/?ol=true&ss=-OOfrp2rtyUYav9udm0t</a>
</SectionLayout>
