---
import SectionLayout from '../common/SectionLayout.astro'
---

<SectionLayout title="URL">
  <a href="https://twigl.app/?ol=true&ss=-Ojsh6Fy1dHxQPE7KdrZ" target="_blank" rel="noopener noreferrer">https://twigl.app/?ol=true&ss=-Ojsh6Fy1dHxQPE7KdrZ</a>
</SectionLayout>
