---
import SectionLayout from '../common/SectionLayout.astro'
---

<SectionLayout title="URL">
  <a href="https://twigl.app/?ol=true&ss=-OnjRJNc7sNVIh-PgR75" target="_blank" rel="noopener noreferrer">https://twigl.app/?ol=true&ss=-OnjRJNc7sNVIh-PgR75</a>
</SectionLayout>
