---
import '@components/StylesBundler.astro'
import Layout from '@layouts/Layout.astro'
import Heading from '@components/example2/Heading.astro'
import Code from '@components/example2/Code.astro'
import Url from '@components/example2/Url.astro'
---

<Layout namespace="example2">
  <title slot="title">Example2 | Async Page Transitions</title>

  <Heading />
  <Code />
  <Url />
</Layout>
