---
import SectionLayout from '../common/SectionLayout.astro'
---

<SectionLayout title="Designer">
  <a href="https://en.wikipedia.org/wiki/Raph_Levien" target="_blank" rel="noopener noreferrer">Raph Levien</a>
</SectionLayout>
