---
import SectionLayout from '../common/SectionLayout.astro'
---

<SectionLayout title="Download">
  <a href="https://fonts.google.com/specimen/Inconsolata?preview.script=Latn" target="_blank" rel="noopener noreferrer">Google Fonts: Inconsolata</a>
</SectionLayout>
