@font-face {
  font-family: 'Inconsolata';
  src: url('src/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf'), url('/src/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

@mixin inconsolata($weight: 350) {
  font-family: 'Inconsolata';
  font-variation-settings:
    'wght' $weight,
    'wdth' 95;
}
